section.roomDetail{
    padding: 100px 0;
}

.innerImage img{
    width: 100%;
}


.innerDetailRoom h2{
    color: #000;
    font-weight: 700;
}
.innerDetailRoom h6{
    padding: 15px 0;
}

.innerDetailRoom h4{
    color:rgb(45, 129, 206)
}

.innerDetailRoom button{
    background: rgb(45, 129, 206);
    color: #fff;
    border:  1px solid #7ee6ce;
    border: none;
    padding: 10px 30px;
}