button.btn_main{
    display: block;
    width: 100%;
    text-align: center;
}

section.auth_account{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.auth_account h1{
    margin: 0px 0 30px !important;
}

.dont_have{
    text-align: center;
    color: #000;
    margin-top: 10px;
}

.dont_have a {
    color: rgb(0, 0, 248);
}

.auth_account  input{
    width: 100%;
    display: block;
}






.booking_btn{
    background: #000;
    border: none;
    text-transform: uppercase;
    padding: 14px 0;
    width: 100%;
    transition: 0.5s;
    letter-spacing: 2px;
}


.booking_btn:hover{
    letter-spacing: 3px;
}